<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Role Provider Demonstrator</title>
</head>
<body>
<div class="container-lg mt-4">
    <div class="row">
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Login Error!</strong> {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="dlcs" class="form-label">DLCS Root</label>
                <input type="text" class="form-control" id="dlcs" aria-describedby="dlcsHelp"
                       placeholder="{{ default_root }}" name="dlcs">
                <div id="dlcsHelp" class="form-text">Root of DLCS instance to use for this session.</div>
            </div>
            <div class="mb-3">
                <label for="customer" class="form-label">DLCS Customer</label>
                <input type="text" class="form-control" id="customer" aria-describedby="customerHelp"
                       placeholder="{{ default_customer }}" name="customer">
                <div id="customerHelp" class="form-text">DLCS Customer Id for this session.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="row">
        <p>Use one of the following users to login:</p>
        <dl>
            {% for user in users %}
            <dt>Credentials</dt>
            <dd>{{ user.username }} : {{ user.password }}</dd>

            <dt>Roles</dt>
            <dd>{{ user.roles }}</dd>
            <hr>
            {% endfor %}
        </dl>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>